@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Mono", serif;
}

body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#38383B;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente */
    padding: 10px; /* Espaciado interno */
    background: transparent; 
    background-color: #000000;
    z-index: 10000;
    position: sticky;
}

ul {
    display: flex;
    gap: 60px;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    color: white;
    padding: 0; 
    margin: 0;
    margin-right: 55px;
}

li {
    color: white;
    font-size: 18px;
}

/* Opcional: para que los enlaces se vean mejor */
li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

li a:hover {
    color: #068227; /* Un gris claro al pasar el cursor */
}
.dadcontainer::-webkit-scrollbar {
    width: 6px; /* Ancho del scroll */
    height: 6px; /* Altura para scroll horizontal */
}

.dadcontainer::-webkit-scrollbar-thumb {
    background-color: rgb(159, 157, 1); /* Color del scroll */
    border-radius: 10px; /* Bordes redondeados */
}

.dadcontainer::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Color del fondo del scroll */
    border-radius: 10px;
}

.dadcontainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
    overflow-x: auto;
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth; 
    white-space: nowrap;
}

.dadcontainer > .container {
    scroll-snap-align: center; 
    min-width: 300px;
    flex-shrink: 0; 
    opacity: 0;  
    transition: opacity 1s ease, transform 1s ;
}



.text-overlay {
    position: absolute;
    bottom: 150px;
    color: white;
    border-radius: 5px;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh; /* O el tamaño de la sección */
    top: 0;
    left: 0;
    z-index: 1000; /* Para que esté en el fondo */
    background: transparent;
}


.container {
    display: flex;
    width: 100%;
    height: 650px;
    opacity: 0;
    transform: translateY(-50px) scale(0.9); /* Comienza más arriba y pequeño */
    transition: opacity 1.2s ease-out, transform 1.2s cubic-bezier(0.25, 1, 0.5, 1);
}
.container:nth-child(odd) { transition-delay: 0.3s; }
.container:nth-child(even) { transition-delay: 0.6s; }


.container.visible {
    opacity: 1;
    transform: translateY(0);
}

.container img{
    width: 100%;
    object-fit: cover;
}




.text-overlay {
    display: flex;
    position: absolute;
    margin-left: 35vw;
    margin-bottom: 20vh;
    gap: 50px;
    background: rgba(249, 249, 249, 0);
    color: white;
    font-size: 4rem;
    border-radius: 5px;
}
.gallery {
    gap: 50px;
    /* background-color: red; */
    display: flex;
    margin-top: 15vh;
    width: 90%;
    row-gap: 30px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5vw;
}
.gallery::-webkit-scrollbar {
    width: 6px; /* Ancho del scroll */
    height: 6px; /* Altura para scroll horizontal */
}

.gallery::-webkit-scrollbar-thumb {
    background-color: rgb(159, 157, 1); /* Color del scroll */
    border-radius: 10px; /* Bordes redondeados */
}

.gallery::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Color del fondo del scroll */
    border-radius: 10px;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra la imagen y el texto */
}

.gallery-item {
    background-color: #222;
    box-shadow: 0px 0px 14px 0px #b18801;
    width: 300px;
    height: 400px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.gallery-item img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

.miel{
    margin-left: 5vw;
    margin-top: -5vh;
}

.imagenpequena  {
    width: 10px;
}

.caption {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.boton {
    display: flex;
    background-color: #E8BD35;
    color: white;
    padding: 20px 40px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-left: 45vw;
    margin-bottom: 15px;
}

.boton:hover {
    background-color: #b18801;
}

/* seccion de detalles de productos */

/* ------- Osmo [https://osmo.supply/] -------
Osmo UI: https://slater.app/10324/23333.css */


  .cloneable {
    padding:20px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    position: relative;
    font-size: 1.1vw;
  }
  
  .tab-container {
    grid-column-gap: 3em;
    grid-row-gap: 3em;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 2.5em;
    display: flex;
  }
  
  .tab-layout-container {
    width: 100%;
    max-width: 36em;
    height: 100%;
    margin-left: auto;
    margin-right: 0;
    padding-top: 1em;
    padding-bottom: 2em;
  }
  
  .tab-container-bottom {
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .tab-container-top {
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .tab-layout-col {
    width: 50%;
  }
  
  .tab-content-wrap {
    width: 100%;
    min-width: 24em;
    position: relative;
  }
  
  .content-button__bg {
    z-index: -1;
    background-color: #efeeec;
    border-radius: .25em;
    position: absolute;
    inset: 0%;
  }
  
  .content-p {
    margin: 0;
    font-size: 1.25em;
    line-height: 1.4;
  }
  
  .tab-button__bg {
    z-index: 0;
    background-color: #efeeec0f;
    border: 1px solid #efeeec14;
    border-radius: .25em;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0%;
  }
  
  .tab-content-item {
    z-index: 1;
    grid-column-gap: 1.25em;
    grid-row-gap: 1.25em;
    visibility: hidden;
    flex-flow: column;
    display: flex;
    position: absolute;
    inset: auto 0% 0%;
  }
  
  .tab-content-item.active {
    visibility: visible;
  }
  
  .tab-layout {
    z-index: 1;
    grid-row-gap: 3em;
    flex-flow: wrap;
    width: 100%;
    min-height: 37em;
    display: flex;
    position: relative;
  }
  
  .filter-bar {
    background-color: #f3f3f376;
    border: 1px solid #1f1f1efe;
    padding: 1.125em 1.5em;;
    border-radius: .5em;
    padding: .5em;
    display: flex;
  }
  
  .filter-button {
    background-color: #0000;
    border: 1px solid #1f1f1efe;
    padding: 1.125em 1.5em;
    transition: border-color .2s;
    position: relative;
  }
  
  .filter-button.active {
    border-color: #efeeec4d;
    border-radius: .25em;
  }
  
  .filter-button__p {
    z-index: 1;
    font-size: 1.125em;
    position: relative;
    color:#000000;
  }
  
  .tab-visual-wrap {
    border-radius: .5em;
    width: 100%;
    height: 42em;
    max-height: 80vh;
    position: relative;
    overflow: hidden;
  }
  
  .tab-visual-item {
    visibility: hidden;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 150%;
    display: flex;
    position: absolute;
  }
  
  .tab-visual-item.active {
    visibility: visible;
  }
  
  .tab-image {
    object-fit: cover;
    border-radius: .5em;
    width: 100%;
    max-width: none;
    height: 100%;
  }
  
  .tab-content__heading {
    letter-spacing: -.02em;
    margin-top: 0;
    margin-top: -30px;
    font-size: 1.75em;
    font-weight: 500;
    line-height: 1;
    color: white;
  }
  .contentParrafo{
    color: white !important;    
  }
  .tab-layout-heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4em;
    font-weight: 500;
    line-height: 1;
    color: white;
}

.tab-content__button {
    color: #000000;
    justify-content: center;
    align-items: center;
    height: 4em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-decoration: none;
    display: flex;
    position: relative;
  }


/* seccion de aboutme */
.sectionaboutme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: rgb(18, 18, 18);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;

}

.sectionaboutme-text {
    width: 50%;
    padding: 20px;
}

.sectionaboutme-text h1 {
    font-size: 3rem;
    color: #ffffff;
}

.sectionaboutme-text p {
    font-size: 1.2rem;
    color: #f7f7f7;
    line-height: 1.6;
    margin-top: 5vh;
}
.botonMision{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 40px;
    border-radius: 25px;
    border: none;
    transition: duration 2s;
}


.botonMision:hover{
    background-color: #b18801;
    color: white ;
}
.sectionaboutme-image {
    width: 40%;
 
}

.sectionaboutme-image img {
    width: 100%;
    border-radius: 10px;
}

.sectionaboutme-image2 {
    width: 40%;
    height: 500px;
    border-radius: 100%;
    background-color: #50515049;  
    box-shadow: -10px 14px 20px rgb(255, 255, 255);
}

.sectionaboutme-image2 img {
    width: 80%;
    transform: translate(30px, -100px);
    border-radius: 10px;
}

.WhatsApp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 40px;
    border-radius: 25px;
    border: none;
    transition: duration 2s;
}

.WhatsApp:hover{
    background-color: #007F24;
}


/* seccion de contacto */
.containerContacto {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

/* Fondo con opacidad */
.containerContacto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle,
        rgba(170, 162, 162, 0.7),
        rgba(51, 51, 51, 0.7) 30%,
        rgba(32, 31, 31, 0.649) 0%
    ),
    radial-gradient(
        circle at 40px 40px,
        rgba(233, 228, 228, 0.7),
        rgba(51, 51, 51, 0.7) 30%,
        rgba(88, 84, 84, 0) 0%
    ),
    radial-gradient(
        circle at 600px 200px,
        rgba(233, 228, 228, 0.7),
        rgba(51, 51, 51, 0.7) 10%,
        rgba(88, 84, 84, 0) 0%
    ),
    radial-gradient(
        circle at 800px 100px,
        rgba(233, 228, 228, 0.7),
        rgba(51, 51, 51, 0.7) 10%,
        rgba(88, 84, 84, 0) 0%
    ),
    radial-gradient(
        circle at 700px 500px,
        rgba(233, 228, 228, 0.7),
        rgba(51, 51, 51, 0.7) 2%,
        rgba(88, 84, 84, 0.123) 0%
    );
    border-radius: 20px;
    opacity: 0.9;
    z-index: -1;
}


.text-section {
    width: 50%;
}

.bubble {
    background: #b1880142;
    
    color: white;
    padding: 20px;
    border-radius: 30px;
    font-size: 24px;
    box-shadow: 0px 5px 15px rgb(152, 102, 3);
}

.parrafo {
    color: white;
    font-size: 18px;
    margin-top: 15px;
}

form {
    margin-top: 20px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

.button {
    color: white;
    padding: 15px 30px;
    background: hsla(50, 100%, 48%, 0.384);
    margin-top: 10px;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
    font-size: 18px;
    border: none;
    cursor: pointer;
    width: 100%;
    box-shadow: 0px 5px 15px rgba(140, 140, 140, 0.811);
}

.button:hover {
    background: #c97c0085;
    box-shadow: 0px 5px 20px rgba(140, 140, 140, 0.811);
}

.whatsapp-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    background: #25d3655e;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    width: max-content;
    transition: 0.3s;
}

.whatsapp-button:hover {
    background: #1da851;
    box-shadow: 0px 5px 15px rgba(37, 211, 102, 0.4);
}

.whatsapp-button img {
    width: 24px;
    margin-right: 10px;
}

.image-section {
    width: 50%;
    display: flex;
    justify-content: center;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.2s ease-out;
}

/* Responsive */
@media (max-width: 768px) {
    .containerContacto {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }
    
    .text-section, .image-section {
        width: 100%;
    }
    
    .image-section {
        margin-top: 20px;
    }

    .button {
        width: 100%;
    }
}


@media (min-width: 600px) {
    .item {
        width: 48%; /* Dos columnas en pantallas medianas */
    }
}

@media (min-width: 1024px) {
    .item {
        width: 30%; /* Tres columnas en pantallas grandes */
    }
}

@media (min-width: 1440px) {
    .item {
        width: 22%; /* Cuatro columnas en pantallas muy grandes */
    }
}


/* Estilos generales del footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-section {
    max-width: 300px;
    text-align: left;
}


.footer-section strong, a {
    color: white !important;
    font-size: 1.2rem;
}
.socials-container {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.social {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid white;
}
 /* boton de google maps */

 /* From Uiverse.io by JaydipPrajapati1910 */ 
.loader {
    width: 44.8px;
    height: 44.8px;
    position: relative;
    transform: rotate(45deg);
    margin-left: 5vw;
  }
  
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50% 50% 0 50%;
    background: #0000;
    background-image: radial-gradient(circle 11.2px at 50% 50%,#0000 94%, #ff4747);
  }
  
  .loader:after {
    animation: pulse-ytk0dhmd 1s infinite;
    transform: perspective(336px) translateZ(0px);
  }
  
  @keyframes pulse-ytk0dhmd {
    to {
      transform: perspective(336px) translateZ(168px);
      opacity: 0;
    }
  }
    
  
/* From Uiverse.io by vinodjangid07 */ 
.socials-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 20px 40px;
    background-color: #333333;
  }
  .social {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgb(194, 194, 194);
  }
  .twitter:hover {
    background: linear-gradient(45deg, #66757f, #00acee, #36daff, #dbedff);
  }
  .facebook:hover {
    background: linear-gradient(45deg, #134ac0, #316ff6, #78a3ff);
  }
  .google-plus:hover {
    background: linear-gradient(45deg, #872419, #db4a39, #ff7061);
  }
  .instagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
  .social svg {
    fill: white;
    height: 20px;
  }
  